.contain {
  color: white;
  max-width: 800px;
  margin: 40px auto 0;
  padding: 40px;
  background: black;
  box-sizing: border-box;
}
.timelineList {
  margin: 0px;
  padding: 0;
  border-left: 2px solid dimgray;
  list-style: none;
}

.timelineItemContainer {
  list-style: none;
  margin-left: 20px;
  padding-bottom: 20px;
}

.timelineItem {
  position: relative;
  padding: 28px 20px;
}

.date {
  padding: 4px 12px;
  background: rgba(105, 105, 105, 0.6);
  color: gray;
  border-radius: 16px;
}
.title {
  margin: 16px 0 0;
  padding: 0;
  color: dimgray;
  opacity: 0.8;
}
.contents {
  margin: 8px 0 0;
  color: dimgray;
}
